*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(to right, #ff9ecf, #ffcce6);
}

.login-container{
    width:350px;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
    text-align:center;
}

h2{
    margin-bottom:25px;
    color:#ff4fa3;
}

.subtitle{
    color:gray;
    margin-bottom:20px;
    font-size:14px;
}

input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ddd;
    border-radius:10px;
    outline:none;
}

input:focus{
    border:1px solid #ff4fa3;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#ff4fa3;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#ff2f92;
}

.error{
    color:red;
    margin-top:15px;
}